*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #f2f2f2;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
}

.contenedor{
	width: 400px;
	margin: 0 auto;
}

.formulario .contenedor-inputs{
	padding:20px;
	background: #fff;
	border-radius: 8px 8px 0 0;
}

.formulario input[type="text"],
.formulario input[type="email"]{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 10px;
	border: none;
	border-bottom: 2px solid #ccc;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus{
	border-bottom: 2px solid #488acc;
}

.formulario input[type="radio"]{
	display: none;
}

.formulario .genero{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.formulario .genero .hombre{
	border-radius: 3px, 0, 0, 3px;
}
.formulario .genero .mujer{
	border-radius: 0, 3px, 3px, 0;
}


.formulario .label-radio{
	background: rgba(226, 113, 221, 0.4);
	color: rgb(255, 255, 255);
	padding: 10px;
	text-align: center;
	width: 49.5%;
}

.formulario input[type="radio"]:checked + .label-radio{
	background: #ec79e3;
}

.formulario .terminos{
	text-align: center;
	color:#424242;
}

.formulario .terminos label{
	margin-left: 10px;
}

.formulario .error{
	display: none;
	margin-top: 20px;
	border-radius: 3px;
	background: #110410;
	color:#fff;
	padding: 15px 10px;
	padding-left: 40px;

}

.formulario .btn{
	width: 100%;
	text-align: center;
	background:#e19aeb;
	color:#fff;
	border: none;
	display: block;
	padding: 15px 10px;
	cursor: pointer;
	border-radius: 0 0 6px 6px;
	font-family: 'Ubuntu', sans-serif; 
	font-size: 18px;
}

.formulario .btn:hover{
	background: #ec53c6;
}