

.botonEditar {
    color:#D25CAD;
}

.botonEliminar {
    color:#D25CAD;
}
.botonNew {
    color:#D25CAD;
}
#registro_0{
    font-size: 15px;
}
.title{
    color:#D25CAD;
}

#tablis{

    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 12px;
}

table{
    border: solid 1pt;
    border-inline-end-style: double;
    margin: 0 auto;
}